.App-heading {
  text-align: left;
  position: absolute;
  bottom: 5px;
  left: 20px;
  background-color: black;
  color: rgba(255, 255, 255, 0.66);
  mix-blend-mode: screen;
}

.App-hero {
  position: relative;
  overflow: hidden;
}

.App {
  height: 200vh;
}
